

*{
    box-sizing: border-box;
}
body {
    margin: 0;

}
@media (prefers-reduced-motion: no-preference){
    .nav-logo {
        animation: App-logo-spin infinite 20s linear;
    }

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer-car {
    width: 140px;
    height: 50px;
    animation-name : mymove;
    animation-iteration-count : infinite;
    animation-direction : alternate;
    animation-duration : 5s;
}

@keyframes mymove {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(1380px);
    }

}

nav{
    height: 70px;
    display: flex;
    padding: 14px 32px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0,0,0,0.2);
    font-size: 35px;
    background-color:white;
    position: sticky; top: 0;
    z-index: 10000;
    margin-bottom: 20px;

}
footer{
    display: flex;
    align-items: center;
    height: 100px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0,0,0,0.8);
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}

.nav-left{

    display: inline-flex;
    justify-content: left;
}
.nav-right{
    position: absolute;
    right: 20px;




}


.nav-button {

    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}


.nav-button:hover,
.nav-button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.nav-button:hover {
    transform: translateY(-1px);
}

.nav-button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}




.card-image {
    width: 250px;
    margin: 20px;
}
.card {
    display: flex;
    align-items: center;
    height: 220px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0,0,0,0.1);
    border: 1px solid rgb(220, 221, 224);
    border-radius: 4px ;
    margin-bottom: 10px;

}
.car-list {
    width: 90%;
    margin-left: 60px;
    margin-top: 20px;
    min-height: 500px;
}
.amount-cards{
    margin-left: 60px;
    margin-top: 20px;
    font-size: 20px;

}

.form  {
     display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,50px) ;
    grid-gap: 10px;
    margin:5px;
    background-color: #F0F0F0;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
 }
.text-link{
    text-decoration: none;
    color: black;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: black;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: black;
}

.scroll-box {
    overflow-y: scroll;
    height: 200px;
    border: 1px solid #ccc;
}





.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swipers{

    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    background: #000;
    color: #000;
    justify-content: center;
    margin-bottom: 10px;
    min-width: 500px;
}


.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 50%;
    object-fit: cover;

}
.upper{
    display: flex;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;

}
.upper-data-upper{
    margin-left: 150px;
    width: 30%;
}

.upper-data-lower{
    margin-top: 50px;
    border: 2px solid black;
    height: 50%;
    padding-left: 50px;
    margin-bottom: 50px;

}

.hr-lower{
    border-width:2px;
    width: 1200px;
    margin-left:150px;
}
.lower-h1{
    margin-left:150px;
}
.lower{
    display: flex;

    justify-content: center;
    height: 50%;
    margin-bottom: 100px;


}
.lower-data{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,50px) ;
    grid-gap: 70px;
    margin-bottom: 100px;
}